# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.spec
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Project
.env
recruitment.db
env-report.txt
